1. [Lists](#lists)  
  1.1. [Creating a list](#creating-a-list)  
  1.2. [Accessing items](#accessing-items)   
  1.3. [Slicing a list](#slicing-a-list)   
  1.4. [Modifying items](#modifying-items)     
  1.5. [Operators and lists](#operators-and-lists)   
  1.6. [Built-in functions and lists](#built-in-functions-and-lists)   
  1.7. [For loops and lists](#for-loops-and-lists)   
  1.8. [Adding items to a list](#adding-items-to-a-list)     
  1.9. [Removing items from a list](#removing-items-from-a-list)     
2. [Dictionaries](#dictionaries)  
  2.1. [Creating a dictionary](#creating-a-dictionary)  
  2.2. [Accessing items](#accessing-items)  
  2.3. [Modifying values](#modifying-values)      
  2.4. [For loops and dictionaries](#for-loops-and-dictionaries)   
  2.5. [Adding items to a dictionary](#adding-items-to-a-dictionary)   
  2.6. [Removing items from a dictionary](#removing-items-from-a-dictionary)

# 1. Lists <a id='lists'></a>

### 1.1. Creating a list <a id='creating-a-list'></a>

In Python, a `list` is a special data type which can be used to store and organize a collection of values. For example, the code in the cell below creates a `list` that contains 3 integers (`1`, `2` and `3`) and assigns it to the variable `my_list`:

In [27]:
my_list = [1, 2, 3]

The beginning of a list is signified with the left square bracket (`[`), while the end of a list is signified with the right square bracket (`]`). The items we want the list to contain are placed in between the square brackets, with each item being separated by a comma (`,`). If we do this, we will have successfully created a list, which we can check with the built-in `type()` function:

In [28]:
type(my_list)

list

We can also use the built-in `len()` function to check the length of the list.

In [29]:
len(my_list)

3

Indeed we see that the length of the list is 3, since it contains 3 items - each of which is an integer. Lists can also contain objects of other data types, including `str`, `float`, `bool`, as well as `list`:

In [31]:
different_objects = ['str', 3.42, True, [2, 'str2']]
len(different_objects)

4

As we can see, the list above has 4 items of the following types: `str`, `float`, `bool` and `list`. The 4th item, which is also a list, contains two items (an `int` and a `str`).

### 1.2. Accessing items <a id='accessing-items'></a>

As the name "list" suggests, there is an order to the items contained within a `list`. A `list` can also be thought of as a sequence of items. This becomes evident when we try to access an item in a list:

In [32]:
dog_breeds = ['bulldog', ['black labrador', 'yellow labrador', 'chocolate labrador'], 'chihuahua', 'husky']
dog_breeds[2]

'chihuahua'

When we want to access an item, we use the notation `my_list[x]`, where `x` is an integer corresponding to the index of the item we want to access. The statement `dog_breeds[2]` returns the value `'chihuahua'` which is the 3rd item in the list. This is because counting in computer programming starts from 0. Therefore, the first item in the list has an index of `0`, the second item has an index of `1`, and so on.

The code cell below contains a series of `print()` statements that show all of the items individually:

In [24]:
print(dog_breeds[0])
print(dog_breeds[1])
print(dog_breeds[2])
print(dog_breeds[3])

bulldog
['black labrador', 'yellow labrador', 'chocolate labrador']
chihuahua
husky

We can also access items in a list using negative integers. The index `-1` is the last item in the `list`, the index `-2` is the second last item in the `list`, and so on.

In [38]:
print(dog_breeds[-1])
print(dog_breeds[-2])
print(dog_breeds[-3])
print(dog_breeds[-4])

husky
chihuahua
['black labrador', 'yellow labrador', 'chocolate labrador']
bulldog

One might also ask, how can we access the items of a list nested within another list?  In the case of the list `dog_breeds`, the second item is also a list. We can access the items of that second, nested list in the following way:

In [40]:
dog_breeds[1][2]

'chocolate labrador'

In [41]:
print(dog_breeds[1][0])
print(dog_breeds[1][1])
print(dog_breeds[1][2])

black labrador
yellow labrador
chocolate labrador

### 1.3. Slicing a list <a id='slicing-a-list'></a>

Instead of accessing individual items, we can also access a section of a `list` (containing multiple items) by slicing it.

In [10]:
letters = ["a", "b", "c", "d", "e", "f"]
letters[2:5]

['c', 'd', 'e']

As can be seen in the cell above, the statement `letters[2:5]` returns a slice of the list containing  items from index `2` to index `4`. The numbers separated by the colon (`:`) specify a range of items, where the index provided on the left side is included in that range, but the index on the right side is excluded from the range. This slice of the list is also of type `list`:

In [11]:
type(letters[2:5])

list

In [12]:
len(letters[2:5])

3

The code cell below shows different types of slices with positive indices.

In [13]:
print(1, letters[0:3])
print(2, letters[:3])
print(3, letters[3:])
print(4, letters[3:6])
print(5, letters[3:5])
print(6, letters[3:4])

1 ['a', 'b', 'c']
2 ['a', 'b', 'c']
3 ['d', 'e', 'f']
4 ['d', 'e', 'f']
5 ['d', 'e']
6 ['d']

The code cell below shows different types of slices with negative indices.

In [14]:
print(1, letters[-1:])
print(2, letters[-3:])
print(3, letters[-3:-1])

1 ['f']
2 ['d', 'e', 'f']
3 ['d', 'e']

### 1.4. Modifying items <a id='modifying-items'></a>

An item in a list can be modified by simply identifying it by its index and assigning a new value to it:

In [15]:
numbers = [1, 2, 3, 4, 5]
numbers[0] = 99
numbers

[99, 2, 3, 4, 5]

In [16]:
numbers[-2] = 42
numbers

[99, 2, 3, 42, 5]

In [17]:
numbers[1:3] = [14, 17]
numbers

[99, 14, 17, 42, 5]

### 1.5. Operators and lists <a id='operators-and-lists'></a>

Lists can be concatenated using the `+` operator:

In [18]:
animals = ["cat", "dog", "llama"]
fruits = ["apple", "orange", "mango"]

animals_and_fruits = animals + fruits
animals_and_fruits

['cat', 'dog', 'llama', 'apple', 'orange', 'mango']

Lists can also be repeated by using the `*` operator together with an integer:

In [19]:
animals * 3

['cat', 'dog', 'llama', 'cat', 'dog', 'llama', 'cat', 'dog', 'llama']

We can also use the `in` operator, to check if an item is in a list:

In [20]:
"cat" in animals

True

In [21]:
"lion" in animals

False

As you can see, the `in` operator returns a `bool` based on whether or not an item is in a list. This means that we can easily use the `in` operator in conditional statements.

In [22]:
if "apple" in fruits:
    print("the list contains 'apple'")
else:
    print("the list does not contain 'apple'")

the list contains 'apple'

We can also use the `not` and `in` operators together, in order to check whether an item is not in a list. In essence, this flips the value of the `bool` returned when using just the `in` operator:

In [23]:
"cat" not in animals

False

In [24]:
"lion" not in animals

True

### 1.6. Built-in functions and lists <a id='built-in-functions-and-lists'></a>

We have already used the built-in functions `type()` and `len()` together with lists, however, there are also other built-in functions that accept lists as arguments. We will use the previously defined `numbers` list, in order to illustrate the effect of these built-in functions.

In [25]:
numbers

[99, 14, 17, 42, 5]

We can use the built-in function `sum()` to get a sum of the numbers in a list:

In [26]:
sum(numbers)

177

We can use the built-in function `max()` to get the largest number in a list:

In [27]:
max(numbers)

99

We can use the built-in function `min()` to get the smallest number in a list:

In [28]:
min(numbers)

5

### 1.7. For loops and lists <a id='for-loops-and-lists'></a>

Lists are iterables, which means we can loop over them using the "for" loop:

In [29]:
for animal in animals:
    print(animal)

cat
dog
llama

We can also loop over the items in a list like so:

In [30]:
for i in range(len(animals)):
    print(animals[i])

cat
dog
llama

While the second method is more verbose, it allows us to loop over the items of a list while also changing them in the process. If we just use the "for" loop directly on the `animals` list and attempt to change its items, we will get the following result:

In [31]:
for animal in animals:
    animal = "zebra"
animals

['cat', 'dog', 'llama']

As we can see in the code cell above, the `animals` list is unchanged. This is because when we write `animal = "zebra"`, we are not assigning the string `"zebra"` to a location in the list, but simply assigning it to the variable name `animal`. In other words, the variable name `animal` no longer points to the item in the list, but to a new string that we have created.

We can modify the items of a list while looping over them in the following way:

In [32]:
for i in range(len(animals)):
    animals[i] = "zebra"
animals

['zebra', 'zebra', 'zebra']

### 1.8. Adding items to a list <a id='adding-items-to-a-list'></a>

Instead of just modifying items, we can also add items to a list. We have previously seen how this can be accomplished with the `+` operator:

In [33]:
animals = ["cat", "dog"]
print(animals + ["llama"])

['cat', 'dog', 'llama']

However there are also other ways of adding items to a list. Namely, we can use built-in "methods" in order to add items to a list in various ways. Methods are just functions which are bundled together with an object. For example, a `list` has an `append()` method, which adds (appends) an item to the end of the list:

In [34]:
animals.append("llama")
animals

['cat', 'dog', 'llama']

The `append()` method takes in one argument and adds it to the end of the `animals` list directly, without returning a value. On a conceptual level, it does an equivalent of the following operation: `animals = animals + ["cat"]`

In [35]:
animals.append("alpaca")
animals.append("giraffe")
animals

['cat', 'dog', 'llama', 'alpaca', 'giraffe']

We can also add items to a list using the `insert()` method, which takes in two arguments - an index at which the item should be inserted and an item.

In [36]:
animals.insert(1, "elephant")
animals

['cat', 'elephant', 'dog', 'llama', 'alpaca', 'giraffe']

### 1.9. Removing items from a list <a id='removing-items-from-a-list'></a>

There are many ways in which we can delete an element from a list. For example, we can use the `remove()` method, which takes in one argument - the element which should be removed.

In [182]:
animals.remove("llama")
animals

['cat', 'elephant', 'dog', 'alpaca', 'giraffe']

**Note:** if a list has two or more identical items, the `remove()` method removes the first item in the list.

In [39]:
x = ["a", "b", "a"]
x.remove("a")
x

['b', 'a']

We can also use the `pop()` method which takes in one argument - the index of the item which should be removed.

In [183]:
animals.pop(0)
animals

['elephant', 'dog', 'alpaca', 'giraffe']

We can even remove all of the items in a `list`:

In [187]:
for i in range(len(animals)):
    animals.pop(0)
animals

[]

As we can see above, deleting all of the items results in an empty list which is indicated by square brackets that do not contain any elements within (`[]`). Since the `animals` list is now empty, Python will raise an error if we try to call the `pop()` method again:

In [201]:
animals.pop(0)

IndexError: pop from empty list

The error message tells us the list is empty. If we check the length of the list, we will see that it is 0.

In [202]:
len(animals)

0

Aside from using the `remove()` and `pop()` methods, we can also delete items from a list using the reserved keyword `del`, which can delete any object in Python.

In [203]:
programming_languages = ["Python", "JavaScript", "C++"]

In [204]:
del programming_languages[1]
programming_languages

['Python', 'C++']

We can even delete the entire list itself:

In [205]:
del programming_languages

If we do so, referencing the variable `programming_languages` will now result in an error:

In [206]:
programming_languages

NameError: name 'programming_languages' is not defined

# 2. Dictionaries <a id='dictionaries'></a>

### 2.1. Creating a dictionary <a id='creating-a-dictionary'></a>

Similarly to a list, a dictionary is also used to store and organize a collection of values. For example, the code in the cell below defines a dictionary with 3 items and assigns it to the variable `ice_cream_prices`.

In [57]:
ice_cream_prices = {"vanilla": 2.29, "strawberry": 2.35, "chocolate": 2.39}

In order to define a dictionary, we use curly brackets `{}` and place the dictionary items in between. Each item in a dictionary is composed of two elements - a key and a value. In the case of the `ice_cream_prices` dictionary, the keys are the strings: `"vanilla"`, `"strawberry"` and `"chocolate"`, while the values are the floating-point numbers: `2.29`, `2.32` and `2.35`. 

When defining dictionaries (or lists), it can be helpful to spread out the definition over multiple lines, as this increases readability. For example, we can rewrite the `ice_cream_prices` dictionary in the following way:

In [58]:
ice_cream_prices = {
    "vanilla": 2.29,
    "strawberry": 2.32,
    "chocolate": 2.35
}

The dictionary definition in the code cell above is equivalent to the earlier definition, it is simply spread out over multiple lines to increase readability. Now we can easily see that this dictionary contains 3 items (composed of `key: value` pairs). We can verify that this is the case with the `len()` function

In [59]:
len(ice_cream_prices)

3

When we pass in the variable `ice_cream_prices` to the `type()` function, we can see that it returns `dict` (which is an abbreviation for dictionary):

In [60]:
type(ice_cream_prices)

dict

Dictionaries can also hold values of different data types:

In [61]:
user_info = {
    "username": "johnny123",
    "age": 24,
    "interests": ["rock music", "travelling", "tennis"],
    "private_info": {"last_login_date": "2022-06-23" , "full_name": "John Smith"}
}

In the code cell above, the dictionary `user_info` contains 4 different items (4 key-value pairs), which correspond to information about a user on a hypothetical website.

1. The key "username" points to a `str`, which contains the user's username.
2. The key "age" points to an `int`, which represents the user's current age.
3. The key "interests" points to a `list` containing strings, which represent the user's interests.
4. The key "private_info" points to another `dict`, which has two items containing private information that is not visible by other users.

As you may have noticed, all of the keys in the dictionaries have been strings so far. It is possible to use other data types for keys, such as `int`, however, strings are used most commonly as keys. It is also worth noting that not all data types can be keys. For example, a `list` cannot be used as a key in a dictionary.

Another thing to remember is that all keys have to be unique - a dictionary cannot have two identical keys:

In [1]:
x = {"a": 1, "a": 2}
x

{'a': 2}

As you can see above, Python does not allow us to create a dictionary with two identical keys. The first value assigned to the key "a" is simply overridden by the second value assigned to the key "a".

### 2.2. Accessing items <a id='accessing-items'></a>

Similarly to accessing items in a list by their corresponding index, we can access the values in a dictionary by their corresponding key. Lets take the previously defined `ice_cream_prices` dictionary as an example.

In [62]:
ice_cream_prices["vanilla"]

2.29

In [63]:
ice_cream_prices["strawberry"]

2.32

In [64]:
ice_cream_prices["chocolate"]

2.35

You can think of a dictionary key as analogous to an index in a list. In fact, we could have organized the ice cream flavor prices in a list (`[2.29, 2.35, 2.39]`), but we would need to remember which item at which index corresponds to which ice cream flavor. Arguably, it is more convenient to write the prices of different ice cream flavors as a dictionary and retrieve the prices by the name of the ice cream flavor. This also makes our code easier to understand, since dictionary keys tell us more about what the values mean.

### 2.3. Modifying values <a id='modifying-items'></a>

A value in a dictionary can be modified by simply identifying it by its key and assigning a new value.

In [65]:
ice_cream_prices["vanilla"] = 3.50
ice_cream_prices

{'vanilla': 3.5, 'strawberry': 2.32, 'chocolate': 2.35}

### 2.4. For loops and dictionaries <a id='for-loops-and-dictionaries'></a>

We can also use for loops with dictionaries. For example, we can loop over the keys of a dictionary in the following way:

In [66]:
for key in ice_cream_prices:
    print(key)

vanilla
strawberry
chocolate

However, often we will want to loop over the keys, as well as the values. In this case, we can use the `items()` method in the following way:

In [67]:
for key, value in ice_cream_prices.items():
    print(key + ": " + str(value))

vanilla: 3.5
strawberry: 2.32
chocolate: 2.35

The `items()` method creates an iterable which will return both the key and the corresponding value during each iteration step.

### 2.5. Adding items to a dictionary  <a id='adding-items-to-a-dictionary'></a>

To add an item to a dictionary, we simply assign a value to a key that does not exist yet - this will create it:

In [68]:
ice_cream_prices["caramel"] = 2.70
ice_cream_prices

{'vanilla': 3.5, 'strawberry': 2.32, 'chocolate': 2.35, 'caramel': 2.7}

### 2.6 Removing items from a dictionary  <a id='removing-items-from-a-dictionary'></a>

We can use the `pop()` method to remove an item from a dictionary:

In [69]:
ice_cream_prices.pop("vanilla")
ice_cream_prices

{'strawberry': 2.32, 'chocolate': 2.35, 'caramel': 2.7}

We can of course also use the reserved keyword `del` which can remove any object in Python.

In [70]:
del ice_cream_prices["strawberry"]
ice_cream_prices

{'chocolate': 2.35, 'caramel': 2.7}

If we remove all items in a dictionary, we will have an empty dictionary, indicated by curly brackets with nothing in between (`{}`). We can use the `clear()` method to remove all items from a dictionary.

In [73]:
ice_cream_prices.clear()
ice_cream_prices

{}

In [ ]:
x {}